body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:60px 0 0 0;
}

a {
  color: #00B7FF;
}

#menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: 50px;
  background-color: #EEE;
}
